*{
    padding: 0px;
    margin: 0px;
    
}
body{
    font-family: 'Ubuntu', sans-serif;
    background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
    height: 1000px;
    overflow: hidden;
}



#message_holder{  /*this holds all message*/
    overflow-y: auto;
    overflow-x: hidden;
    color:#F9F9FB;
    /* border: 2px solid rgb(30, 255, 0); */
    height: 87%;
    padding: 20px;
    width: 99%;
    text-align: center;
    margin:0 auto;
}


#text_send{
    position: fixed;
    bottom:0%;
    width: 100%;
    border-top: 2px solid rgb(255, 0, 0);
    display: block;
    background:#af0060;
    /* background:  linear-gradient(135deg, #7a0630 0%,#e26a96 50%,#580020ed 100%); */
}

input{
    float: left;
    font-size: 16pt;
    padding: 20px;
    width:68%;
    border: none;
    color: #F9F9FB;
    background-color: rgba(0, 0, 0, 0);
}

#button{
    margin-right:25px; 
    float:right;
    border: none;
    height: 65px;
    font-size: 12pt;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

#button:hover{
    color: rgb(255, 209, 209); 
    transform: scale(1.1);

}

#one, #two, #three{
    padding: 20px;
    list-style: none;
    transition: 0.3s;
    font-optical-sizing: 1;
    width: 320px;
    border-radius: 15px;
    color:white;
    text-align:start;

}
#one{
    margin: 25px 10px;
    border: 2px solid rgb(23, 112, 255);
    box-shadow: #0159a1 5px 5px 10px;
    background:  linear-gradient(135deg, #00127a 0%,rgb(2, 38, 201) 100%);
}

#two{
    margin:25px;
    margin-left:55%;
    border: 2px solid rgb(255, 23, 23);
    box-shadow: #a12e01 5px 5px 10px;
    background:  linear-gradient(135deg, #7a0000 0%,rgb(196, 34, 34) 100%);
}

#three{
    margin:25px;
    margin-left:55%;
    border: 2px solid rgb(23, 255, 54);
    box-shadow: #34a101 5px 5px 10px;
    background:  linear-gradient(135deg, #2d7a00 0%,rgb(112, 196, 34) 100%);
}

@media (min-device-width:320px) and (max-device-width:768px) {
    #two {
    margin: 15px 0px;
    }
    #one {
    margin: 15px 0px;
    }
    #three {
    margin: 15px 0px;
    }
}

@media (min-width:1281px) { 
    #one, #two, #three {
        margin: 25px 10%;
        width: 80%;
        border-radius: 2px;
    }
}


#nav{
    background-color: rgba(255, 255, 255, 0.123);   
    padding: 5px;
    text-align: center; 
    font-size: 14pt;
}


.bye{
    background: none;
    border: none;
    transition: 0.3s;
}

.bye:hover, .share:hover,.feedback:hover{
    cursor: pointer;
    transform: scale(1.1);
    text-decoration: underline; 

}
.share{
    color:rgb(174, 0, 255);
    background: none;
    border: none;
    margin-left:20px; 
    transition: 0.3s;    
}


.feedback{
    color:rgb(0, 255, 85);
    background: none;
    border: none;
    margin-left:20px;
    transition: 0.3s;
    
}

